{% extends "favmusics/base.html" %}
{% load static %}
{% block content %}
    <div style="margin-left: 10px;">
        <h2>Information about: {{ customer.name|capfirst }}</h2>
        <img src="{{ customer.profile_image.url }}" alt="{{ customer.name }} Image" width="200px">
        <p>Name: {{ customer.name }}</p>
        <p>DOB: {{ customer.dob|date:"Y-M-d" }}</p>
        <p>Gender: {{ customer.gender }}</p>
        {% if customer.music.all %}
            <p>Fovourite Musics: </p>
            <ul>
                {% for music in customer.music.all %}
                <li class="arrow-list">{{ music }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock content %}
